body{
    margin: 0;
    background-color: rgb(234, 219, 157);
    // background-color: rgb(146, 127, 49);

    text-align: center;


    #layout-main {
        margin-bottom: 35%;
        height: 100%;
        background-color: violet;
        
      }
      
}
